doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap-3.3.5-dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap-3.3.5-dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyl38pBs1i_I5_3Jzg9BunEfo3bQ5uyYw&callback=initMap")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js")   
    script(src='/javascripts/scripts.js')